<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajamachine[0]./libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="Details">
  <i (click)="close()" class="fa fa-times-rectangle" style="font-size:30px; margin-right: 80%;"></i>

  <h2>מכונה: {{machine[0].MacheineNumber}}</h2>
  <h4>פק"ע: </h4> {{machine[0].Instruction}}
  <br><br>
  <h4>שם מוצר: </h4> {{machine[0].NameProduct}}
  <br><br>
  <h4>תבנית: </h4> {{machine[0].NumMold}}
  <br><br>
  <h4>שם לקוח: </h4> {{machine[0].Customer}}
  <br><br>
  <h4>חו"ג: </h4> {{machine[0].Material}}
  <br><br>
  <h4>מחזור: </h4> {{machine[0].CalcCycale.slice(3,9)}}
  <br><br>
  
  <h4>ק.א: {{machine[0].PolseTime.slice(0,5)}} &nbsp;&nbsp; {{machine[0].PolseDate.slice(0,10)}}</h4>
  <br><br>
  <h4>יתרת שעות ייצור: {{convertHMS("00:" +
    machine[0].CalcCycale.slice(3,9),(machine[0].Quantity-machine[0].INJECTION))}}</h4>





</div>

<!-- 
<nb-reveal-card>
    <nb-card-front>
      <nb-card status="success">
        <nb-card-header>Front Card Header</nb-card-header>
        <nb-card-body>
            <i (click)="close()"class="fa fa-times-rectangle" style="font-size:30px; margin-right: 80%;"></i>

            <h2>מכונה: {{machine[0].MacheineNumber}}</h2>
        
            <h4>שם מוצר: </h4> {{machine[0].NameProduct}} 
            <br><br>
            <h4>שם לקוח: </h4> {{machine[0].Customer}} 
            <br><br>
            <h4>חו"ג </h4> {{machine[0].Material}} 
            <br><br>
        
        </nb-card-body>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card status="danger">
        <nb-card-header>Back Card Header</nb-card-header>
        <nb-card-body>
          bbb
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-reveal-card> -->