.Details{
    width: 51%;
   border-radius: 5%;
    background-color: white;
    margin: auto;
    position: absolute;
    margin-right: 20%;
    text-align: center;
    border: 8px solid #f9ad0a;
}

@media only screen and (max-width: 800px) {
    .Details{
        width: 51%;
        margin-top: -42%;
       
    } 
}